@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Ubuntu:wght@400;500;700&family=Work+Sans:wght@400;600;900&display=swap');

@mixin flexColum{
    display: flex;
    flex-direction: column;
}

// GENERAL STYLES
html *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Ubuntu', sans-serif;
    color: rgb(108, 109, 137);
}

body{
    width: 100%;
    min-height: 100vh;
}

#root{
    width: 100%;
    min-height: 100vh;
    @include flexColum()
}

main{
    flex: 1;
}

section{
    width: 100%;
}

// LOGIN PAGE
.login-section{
    height: 100vh;
    background: rgb(108, 80, 221);
    background: url('../public/assets/sms-loginbg.svg'), -webkit-linear-gradient(to bottom, rgb(108, 80, 221), rgb(25, 69, 194));
    background-image: url('../public/assets/sms-loginbg.svg'), linear-gradient(to bottom, rgb(108, 80, 221), rgb(25, 69, 194));
    background-repeat: no-repeat;
    background-position: top left;
    background-size: 160% 120%;
    display: flex;

    .data-container{
        width: 40%;
        height: 100%;
        background-color: white;
        @include flexColum();
        justify-content: space-between;
        align-items: flex-start;
        padding: 2em 3em;
        padding-top: 6em;

        >div:first-child{
            @include flexColum();
            align-items: flex-start;
            
            >img{
                height: 105px;
                margin-bottom: 20px;
            }

            img.avatar{
                height: 125px;
                width: 125px;
                border: 3px solid rgb(214, 215, 243);
                margin-bottom: 25px;
            }
        }

        .text-container{
            p:first-child{
                font-size: 43px;
                font-weight: bold;
                font-family: 'Work Sans', sans-serif;
                color: rgb(0, 154, 218);
                line-height: 25px;

                span{
                    font-size: 30px;
                    font-family: 'Poppins', sans-serif;
                    position: relative;
                    bottom: 3px;
                }
            }
            p:last-child{
                font-size: 15px;
                span{
                    font-weight: bold;
                }
            }
        }
    }

    .triangle{
        width: 0;
        height: 0;
        border-bottom: 100vh solid white;
        border-right: 60vw solid transparent;
    }
}

// LOGINFORM COMPONENT
.form-container{
    width: 100%;
    @include flexColum();
    align-items: flex-start;
    gap: 20px;
}

// INPUT COMPONENT
.input-container{
    width: 100%;
    display: flex;
    font-size: 17px;

    .label-container{
        width: 100px;
        text-align: right;
        margin-right: 10px;
        
        label{
            text-align: right;
            font-weight: 500;
        }
    }

    .input-section{
        min-width: 80%;
        @include flexColum();

        div:first-child{
            display: flex;
            align-items: center;

            input{
                width: 230px;
                padding: 0.6em 1.2em;
                padding-right: 2em;
                background-color: rgb(232, 240, 253);
                border: 2px solid rgb(31, 178, 196);
                outline: none;
                font-size: 17px;
                transition: all 0.5s ease;
                font-weight: bold;
                color: #444;
            }
        }

        .message{
            height: 13px;
            font-size: 13px;
            span{
                color: rgb(245, 14, 118);
            }
        }
    }
}

// ICON COMPONENT
.icon{
    width: 35px;
    height: 35px;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    right: 25px;

    svg,
    .cls-2{
        width: 15px;
        height: 15px;
        fill: white !important;
    }
}

//BUTTON COMPONENT
.button{
    text-transform: uppercase;
    color: white;
    background-color: rgb(245, 14, 118);
    color: rgb(255, 241, 255);
    border: none;
    padding: .9em 2.5em;
    border-radius: 4em;
    font-weight: bold;
    cursor: pointer;
    transition: all .3s ease;
    &:hover{
        background-color: rgb(216, 13, 104);
    }
}

// HEADER COMPONENT
header{
    height: 12vh;
    background: rgb(55, 138, 234);
    background: -webkit-linear-gradient(to right, rgb(55, 138, 234), rgb(137, 62, 221));
    background: linear-gradient(to right, rgb(55, 138, 234), rgb(137, 62, 221));

    section:first-child{
        height: 10vh;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 1.5em;

        svg,
        .st5{
            height: 87%;
            fill: white !important;
            path{
                fill: white !important;
            }
        }

        svg:last-child{
            height: 55%;
            padding: 7px;
            background-color: rgba(255, 255, 255, 0.3);
            border-radius: 3px;
            cursor: pointer;
            transition: all .3s ease;

            &:hover{
                background-color: rgba(255, 255, 255, 0.4);
            }
        }
    }

    section:last-child{
        background-color: rgb(245, 238, 254);
        padding: .3em 1.5em;
        text-align: end;

        span{
            font-size: 15px;
            text-transform: uppercase;
            font-weight: normal;
        }
    }
}